* {
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.results-box {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.results-list-box {
  background-color: #acacac;
  padding: 8px;
  margin: 8px;
  width: 100%
}

.form-input {
  margin: 10px 6px;
  padding: 6px;
  border-radius: 8px;
  box-shadow: -4px 4px 8px;
}